.idea/
.DS_Store
__pycache__/
train_and_save/vehicles_smallset
train_and_save/non-vehicles_smallset
output_images/
output_images2/
output_images_exper/
output_images_test_video/
non-vehicles_smallset/
vehicles_smallset/
test_videos/
